<div class="container">
	<div class="row">
			<div class="input-prepend input-append well form-inline lookit">
				<span class="add-on input-large">http://</span><%= text_field_tag "url", params[:url], class: "input-large site span10", placeholder: "enter an address to load" %><%= button_tag id: "lookit", class: "btn btn-info btn-large" do %><i class="icon-search icon-white"></i> lookit<% end %>
			</div>
	</div>
</div>
<div class="sidebar left well">
	<div class="page-header">
		<div class="btn-group right">
			<button class="btn clear" data-clear="history" title="Clear the history"><i class="icon-trash"></i></button>
		</div>
		<h2>History</h2>  
	</div>
	<div class="site-list fadeout" id="history">
	</div>
</div>
<div class="sidebar right well">
	<div class="page-header">
		<div class="btn-group right">
			<button class="btn" id="openQueue" title="Open the queue in new tabs"><i class="icon-share"></i></button>
			<button class="btn clear" data-clear="queue" title="Clear the queue"><i class="icon-trash"></i></button>
		</div>
		<h2>Queue</h2>  
	</div>
	<div class="site-list fadeout" id="queue">
	</div>
</div>