<div class="container">
	<div class="well">
			<form class="form-inline lookit input-prepend input-append row-fluid">
				<table>
					<tr>
						<td style="width:95%;height:40px;">
							<input class="input-large site" id="url" name="url" placeholder="enter an address to load" type="text" value="<%= params[:url] %>">						
							<div class="input-append">
								<span class="add-on">blacklist:</span><input class="blacklist" id="blacklist" name="blacklist" placeholder="blacklisted URL segments" type="text">
							</div>
						</td><td style="width:5%;height:38px;">
							<button class="btn btn-info btn-large" id="lookit"><i class="icon-search icon-white"></i> lookit</button>
						</td>
					</tr>
				</table>
			</form>

	</div>
</div>
<div class="left history"> 	
	<div class="tablet-only">
		<%= button_tag id: "toggle", class: "btn btn-large rotated" do %><i class="icon-list"></i>History<% end %>
	</div>
	<div class="sidebar well">
		<div class="page-header">
			<div class="btn-group right">
				<button class="btn <%= 'active' if params[:history] or params[:h]%>" data-toggle="button" title="Enable History" id="useHistory"><i class="icon-ok"></i></button>
				<button class="btn clear" data-clear="history" title="Clear the history"><i class="icon-trash"></i></button>
			</div>
			<h2>History</h2>  
		</div>
		<div class="site-list fadeout row-fluid" id="history">
		</div>
	</div>
</div>
<div class="sidebar right well">
	<div class="tablet-only">
		<%= button_tag id: "toggle", class: "btn btn-large rotated" do %><i class="icon-list"></i>Queue<% end %>
	</div>
	<div class="page-header">
		<div class="btn-group right">
			<button class="btn" id="openQueue" title="Open the queue in new tabs"><i class="icon-share"></i></button>
			<button class="btn clear" data-clear="queue" title="Clear the queue"><i class="icon-trash"></i></button>
		</div>
		<h2>Queue</h2>  
	</div>
	<div class="site-list fadeout" id="queue">
	</div>
</div>