<div class="container">
	<div class="loadsite row">
		<input type="text" class="site" name="site" id="site" placeholder="enter a URL to load" />
		<button class="btn" id="load">load</button>
	</div> 
	<div class="row" id="contents">
		<button class="right clear">Clear</button>
		<h2>Contents</h2>
	</div>
</div>
<div class="sidebar">
	<button class="right clear">Clear</button>
	<h2>History</h2>  
	<div class="history" id="history">
	</div>
</div>