// Place all the styles related to the Gallery controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-responsive";
@import "bootstrap";

@mixin gradient($first, $second) {
	background: $first;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$first', endColorstr='$second');
	background: -webkit-gradient(linear, left top, left bottom, from($first), to($second));
	background: -moz-linear-gradient(top,  $first,  $second);
}
@mixin rotate($deg) {
	-webkit-transform: rotate($deg);
	-moz-transform: rotate($deg);
	-ms-transform: rotate($deg);
	-o-transform: rotate($deg);
	transform: rotate($deg);
}

.gradient {
	@include gradient(black, white);
}

.container {
	width: 970px;
	margin: auto;
}

.right { float: right; right: 0; }
.left { float: left; left: 0; }

.sidebar {
	width: 200px;
	height: 100%;
	position: fixed;
	bottom: 0;
	top: 0;
	overflow-x: hidden;
	overflow-y: auto;
	@media screen and (max-width: 767px) {
		display: none;
	}
}
.sidebar.well {
	padding: 0 10px;
	border-radius: 0;
}
// .sidebar.right { right: 0; }
// .sidebar.left { left: 0; }

form.lookit {
	border-radius: 0 0 10px 10px;
	table {
		margin: auto;
    	display: inline-block;
    	td:first-child {
    		width: 95%;
    		height: 40px;
    	}
    	td:last-child {
    		width: 5%;
    		height: 38px;
    	}
    	input[type=text] {
    		width: 98%;
			font-size: 15px;
			border-radius: 5px 0 0 5px;
			padding: 9px 1%;
		}
    	button { 
    		width: 100px;
    		border-radius: 0 5px 5px 0;
    	}
	}
}
.form-inline { display: inline-block;}
.options {
	display: inline-block;
}

.site-list {
	/* border: 2px solid gray;
	border-radius: 10px;
	padding: 10px;
	margin: 10px; */
}
.site-list img, .site-list video {
	max-width: 100%;
	height: auto;
	float: left;
}
.site-list.fadeout img {	opacity: 0.5; }
.site-list.fadeout img:hover { opacity: 1.0; }

.input-large, .input-prepend .add-on.input-large {
	padding: 9px 5px;
}

.loadsite {
	font-size: 24px;
	padding: 20px 0;
	margin: auto;
}
input#site2 {
	width: 85%;
	line-height: 30px;
	padding: 4px;
	font-size: inherit;
}
#load.btn {
	width: 10%;
	padding: 5px;
	font-size: inherit;
}
.btn.fullscreen {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 5;
}

.btn-hover { 
	cursor: pointer;
	font: bold 20px sans-serif;
	text-align: center;
	opacity: 0.3; 
}
.btn-hover:hover { opacity: 0.75; }
.btn-hover.vertical {
	position: absolute;
	top: 0;
	bottom: 0;
	line-height: 16px;
	width: 17px;
	padding-right: 3px;	
}
.btn-hover.horizontal {
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
}

.lookit.btn-hover {
	left: 0;
	// height: 19px;
	border-radius: inherit 0 0 inherit;
	padding-top: 1px;
	@include gradient(skyblue, transparent)
}
.close.btn-hover {
	// height: 20px;
	border-radius: 0 inherit inherit 0;
	right: 0;
	@include gradient(red, transparent);
}
.queue.btn-hover {
	bottom: 0;
	background: green;
}

.pic-container {
	margin: 5px;
	display: inline-block;
	position: relative;
	width: auto;
}
.pic-container:hover {
	border-color: gold;
}

// resize the modal dialog so it adapts to the image size
.modal {
	top: 5%;
	left: 10%;
	width: 80%;
	height: 90%;
	max-height: 90%;
	margin: auto;
	padding: 10px;

	img {
		display: block;
		margin: auto;
		max-height: 100%;
	}
}
.modal.fullscreen {
	@include size(100%, 100%);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	max-height: 100%;

	img {
		height: auto;
		max-height: none;
		max-width: none;
	}
}

.carousel .item > img {
	max-width: 100%;
	max-height: 100%;
	margin: auto;
}

.rotated {
	@include rotate(270deg);
	position: relative;
	left: -20px;
	top: 40px;
}

.minimize h4 {
	@include rotate(270deg);
	left: -20px;
	position: absolute;
	top: 40px;
	display: block;
}
.minimize .page-header, .minimize .site-list {
	display: none;
}

.tablet-only {
	@media screen and (min-width: 1001px) {
		display: none;
	}
	@media screen and (max-width: 1000px) {
		display: block;
	}
}

@media only screen and (max-width: 1000px) {

}