// Place all the styles related to the Gallery controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-responsive";
@import "bootstrap";

$modalPadding: 10px;
$fullscreenPadding: 1.5 * $modalPadding;
$controlGradientLight: rgba(0,0,0,0.0);
$controlGradientDark: rgba(0,0,0,0.5);

@mixin gradient($first, $second) {
	background: $first;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$first', endColorstr='$second');
	background: -webkit-gradient(linear, left top, left bottom, from($first), to($second));
	background: -moz-linear-gradient(top,  $first,  $second);
}
@mixin rotate($deg) {
	-webkit-transform: rotate($deg);
	-moz-transform: rotate($deg);
	-ms-transform: rotate($deg);
	-o-transform: rotate($deg);
	transform: rotate($deg);
}

.gradient {
	@include gradient(black, white);
}

.container {
	width: 970px;
	margin: auto;
}

.right { float: right; right: 0; }
.left { float: left; left: 0; }

.sidebar {
	width: 200px;
	height: 100%;
	position: fixed;
	bottom: 0;
	top: 0;
	overflow-x: hidden;
	overflow-y: auto;
}
.sidebar.well {
	padding: 0 10px;
	border-radius: 0;
}

.lookit {
	// border-radius: 0 0 10px 10px;
	height: 40px;
	max-width: 800px;
	margin: 50px auto;
	table {
		margin: auto;
    	display: inline-block;
    	td:first-child {
    		width: 95%;
    		height: 40px;
    		vertical-align: top;
    	}
    	td:last-child {
    		width: 5%;
    		height: 38px;
    		vertical-align: top;
    	}
    	input[type=text]:first-child {
    		width: 98%;
			font-size: 15px;
			border-radius: 5px 0 0 5px;
			padding: 9px 1%;
			margin: 0;
			margin-bottom: 8px;
		}
    	button { 
    		width: 100px;
    		border-radius: 0 5px 5px 0;
    	}
    	div {
    		width: 100%;
			.blacklist {
				width: 50%;
				border-radius: 0 5px 5px 0;
			}
    	}
	}
}
.form-inline { display: inline-block;}
.options {
	display: inline-block;
}

.page-header {
	.right {
		padding-right: 30px;
		input { 
			display: inline; 
			margin: 0;
		}
	}
}

.site-list {
	/* border: 2px solid gray;
	border-radius: 10px;
	padding: 10px;
	margin: 10px; */
}
.site-list img, .site-list video {
	max-width: 100%;
	height: auto;
	float: left;
}
.site-list.fadeout img {	opacity: 0.5; }
.site-list.fadeout img:hover { opacity: 1.0; }

.input-large, .input-prepend .add-on.input-large {
	padding: 9px 5px;
}

.loadsite {
	font-size: 24px;
	padding: 20px 0;
	margin: auto;
}
input#site2 {
	width: 85%;
	line-height: 30px;
	padding: 4px;
	font-size: inherit;
}
#load.btn {
	width: 10%;
	padding: 5px;
	font-size: inherit;
}

.btn-hover { 
	cursor: pointer;
	font: bold 20px sans-serif;
	text-align: center;
	opacity: 0.5; 
	display: none;
}
:hover > .btn-hover { display: block; }

.btn-hover:hover { opacity: 0.8; }
.btn-hover.vertical {
	position: absolute;
	top: 0;
	bottom: 0;
	line-height: 16px;
	width: 17px;
	padding-right: 3px;	
}
.btn-hover.horizontal {
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
}

.open.btn-hover {
	left: 0;
	// height: 19px;
	border-radius: inherit 0 0 inherit;
	padding-top: 1px;
	@include gradient(skyblue, transparent)
}
.close.btn-hover {
	// height: 20px;
	border-radius: 0 inherit inherit 0;
	right: 0;
	@include gradient(red, transparent);
}
.queue.btn-hover {
	bottom: 0;
	background: green;
}

.pic-container {
	margin: 5px;
	display: inline-block;
	position: relative;
	width: auto;

	.title {
		position: absolute;
		top: 5px;
		left: 10px;
		right: 10px;
		bottom: 0;
		font-size: 16%;
		font-weight: bold;
		color: white;
		opacity: 0.8;
		overflow: hidden;

		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		display: none;
	}

	&:hover {
		border-color: gold;
	}

	&.gallery:hover .title { display: block; }

	&.seen {
		opacity: 0.6;
		&:hover {
			border-color: orchid;
		}
	}
}

// resize the modal dialog so it adapts to the image size
.modal {
	top: 5%;
	left: 10%;
	width: 80%;
	height: 90%;
	// max-height: 90%;
	margin: auto;
	padding: $modalPadding;

	img {
		display: block;
		margin: auto;
		max-height: 100%;
	}

	.btn.fullscreen {
		position: absolute;
		top: 10px;
		right: 10px;
		z-index: 5;
	}

	.control {
		position: absolute;
		top: $modalPadding;
		bottom: $modalPadding;
		width: 20%;
		padding: 25% 0;

		font-size: 60px;
		font-weight: 100;
		line-height: 30px;
		text-decoration: none;
		text-align: center;

		cursor: pointer;
		color: white;
		// background: #222;
		opacity: 0.3;
		// border: 3px solid white;
		// @include border-radius(23px)

		span {
			position: absolute;
			top: 50%;
			// left: 50%;
			margin-top: -15px;
			// margin-left: -10px;
		}
	}
	.control:hover { opacity: 1.0; }
	.control.left {
		@include gradient-horizontal($controlGradientDark, $controlGradientLight);
		background-color: transparent;
		left: 10px;
		span { left: 20%; }
	}
	.control.right {
		@include gradient-horizontal($controlGradientLight, $controlGradientDark);
		background-color: transparent;
		right: 10px;
		span { right: 20%; }
	}
}
.modal.image {
	top: 50%;
	left: 50%;
	@include size(auto, auto);
}
.modal.fullscreen {
	@include size(100%, 100%);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	max-height: 100%;
	margin: 0 !important;
	background: transparent;
	box-sizing: border-box;

	img {
		height: auto;
		max-height: none;
		max-width: none;
		background: white;
		padding: $fullscreenPadding;
		border-radius: 10px;
	}

	.control {
		position: fixed;
		top: 0;
	}
	.control.left {
		left: 0;
	}
	.control.right {
		right: 0;
	}
}

.carousel  {
	height: 100%;
	margin-bottom: 0;
	.carousel-inner {
		height: 100%;
	}
	.control:hover {
		opacity: 0.75;
	}
	.item > img {
		max-width: 100%;
		max-height: 100%;
		margin: auto;
	}
}

.rotated {
	@include rotate(270deg);
	position: relative;
	left: -20px;
	top: 40px;
}

.minimize h4 {
	@include rotate(270deg);
	left: -20px;
	position: absolute;
	top: 40px;
	display: block;
}
.minimize .page-header, .minimize .site-list {
	display: none;
}

.tablet-only {
	@media screen and (min-width: 1001px) {
		display: none;
	}
	@media screen and (max-width: 1000px) {
		display: block;
	}
}

#url {
	display: inline-block;

	> span { float: left; }

	.number {
		position: relative;

		&:hover { color: orange; }

		.btn-group {
			position: absolute;
			left: 50%;
			min-width: 47px;
			margin-left: -25px !important;

			&:hover { z-index: 1000; }

			.btn { padding: 2px 4px; }
		}
	}
}